@charset "utf-8";

*
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

@font-face {
  font-family: "Lalezar";
  src: url(../fonts/lalezar/lalezar-regular.ttf) format("truetype");
}

html{height:100%;}

body {
    font-family: Lalezar;
    margin: 0;
    padding: 0;
    background-color: #faecdc;
}

header {
    background: url(../images/marseille_sunset.jpg) no-repeat center center;
    background-size: cover; 
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    height: 100px; 
}

.logo {
    position: absolute; 
    top: 10px;
    left: 30px; 
    height: 90px;
    width: auto; 
  }

header h1 {
    margin: 0;
    letter-spacing: 2.1px;
    font-size: 2.5em;
}

nav {
    display: flex;
    justify-content: center;
    background: #636e92;
    padding: 10px 0;
    margin-bottom: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    letter-spacing: px;
    font-size: 1.5em;
}

nav a:hover {
    color: #FAB478;
}

.container {
    padding: 20px;
}

.card {
    background: #E0EDF6;
    border-radius: 20px;
    color: #363636;
    margin: 40px auto;
    padding: 30px;
    max-width: 900px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}

footer {
    text-align: center;
    background: url(../images/Rocher_des_Goudes.jpg) no-repeat center center;
    padding: 30px;
    color: #fff;
    margin-top: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    letter-spacing: px;
}

.card-row {
    display: flex;
    gap: 20px; /* Espace entre les cartes */
    justify-content: center; /* Centre les cartes horizontalement */
    align-items: flex-start; /* Aligne les cartes verticalement */
    flex-wrap: wrap; /* Permet le retour à la ligne si nécessaire */
}

.card-row .card {
    flex: 1;
    max-width: 45%; /* Limite la largeur des cartes */
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Juste en dessous du bouton */
    left: 50%; /* Centrage horizontal basé sur le bouton */
    transform: translateX(-50%); /* Décalage pour centrer */
    background-color: #636E92;
    min-width: 10px; /* Largeur minimum pour une apparence uniforme */
    text-align: center;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    transition: background-color 0.3s;
}

/* Afficher le menu au survol */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Adaptation mobile*/
@media screen and (max-width: 425px) {
    .topnav a, .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: left;
      display: block;
    }
  
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    header img{ 
      margin-top: 5px;
      margin-bottom: 5px;
      width: 50%;
    }
    section {
      width: 100%;
      background-color: white;
      margin: auto;
    }
    .topnav {
      overflow: hidden;
      background-color: #252525;
      border: green 2px;
      width: 100%;
      margin: auto;
    }
    .container{
      width: 100%;
      overflow: auto;
      padding: 5px 25px;
    }
    .container2{
      overflow: auto;
      padding: 5px 25px;
    }
    .accueil{
      margin: auto;
      text-align: center;
      width: 100%;
    }
    .accueil img{
      width: 100%;
    }
  }
